/*Обнуление*/

:root {
    --beige-light: #F9F5F3;
    --beige-darker-main: #F2EFEE;
    --white-results: #FFFFFF;
    --color-grad-1: #fbdb89;
    --color-grad-2: #f48982;
    --font-color: #615551;
}


* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    background-color: #fafafa;
    color: var(--font-color);
}

html {
    font-size: 62.5%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;

}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* ======================TECH CONTAINERS============================ */


._container {
    /* max-width: 1064px; */

    margin: 0 auto;
    box-sizing: content-box;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.loading__animation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.spinner {
    height: 6.4rem;
    width: 6.4rem;
    border: 0.8rem solid;
    border-color: var(--color-grad-2) transparent var(--color-grad-2) transparent;
    border-radius: 50%;
    animation: spinner-anim 1.2s linear infinite;
}

@keyframes spinner-anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}



/* span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1.3rem 2rem;
    background-image: linear-gradient(
      to right bottom,
      $color-grad-1,
      $color-grad-2
    );
  } */


/* ------------------------- Wrappers ------------------------- */

.outer__wrapper {

    background: linear-gradient(to right bottom, var(--color-grad-1), var(--color-grad-2));
    padding: 4rem 7rem;
}



.inner__wrapper {
    min-width: 80%;

    background-color: var(--beige-light);
    border-radius: 1.5rem;

}

@media(max-width:1300px) {
    .outer__wrapper {
        padding: 4rem 4rem;
    }
}

@media(max-width:1200px) {
    .outer__wrapper {
        padding: 0;
    }

    .inner__wrapper {
        border-radius: 0rem;
    }
}



/* ------------------------- Header Section ------------------------- */


.header__section {}

.nav__bar {
    padding: 3rem 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo__container {
    width: 14rem;
    height: 4.6rem;
    margin: 0 0 0 1.5rem;
}

.search__container {}

.search__bar {
    padding: 1.5rem 2.5rem;
    border-radius: 2rem;
    width: 40rem;
    font-size: 1.6rem;
    box-shadow: 0.1rem 0.1rem #eae7e7;
}

.search__btn {
    position: relative;
    left: -3rem;

    padding: 1.5rem 3rem;
    background: linear-gradient(to right bottom, var(--color-grad-1), var(--color-grad-2));
    border-radius: 3rem;
    font-size: 1.8rem;
    color: #FFFFFF;
    text-transform: uppercase;

}

.nav__search_icon {}

.nav__search_text {
    font-weight: 200;
    letter-spacing: 0.2px;

}

.fa-magnifying-glass {}

.menu__container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}



.nav__add_recipe {
    margin: 0 1rem;
    display: block;
    z-index: 5;
}

.fa-pen-to-square {
    font-size: 1.4rem;
    margin: 0 0.5rem;
    color: var(--color-grad-2);
}

.add__recipe_text {
    font-size: 1.4rem;
}

.nav__bookmarks {
    margin: 0 1rem;
}

.fa-bookmark {
    margin: 0 0.5rem;
    color: var(--color-grad-2);
}

.add__bookmark_text {}

.burger__btn_container {
    display: none;
    height: 5rem;
    width: 5rem;
    z-index: 4;
    background-color: var(--beige-light);
    cursor: pointer;
}

.burger__btn {
    position: relative;
    padding: 0;
}



.burger__btn span {
    position: absolute;
    width: 4rem;
    height: 0.6rem;
    background-color: #7a7978;
    left: 0.5rem;
    transition: all 0.5s;

}

.burger__btn span:nth-child(1) {
    transform: translateY(-0.1rem);
}

.burger__btn span:nth-child(2) {
    transform: translateY(1.3rem);
}

.burger__btn span:nth-child(3) {
    transform: translateY(2.6rem);
}


@media(max-width: 1050px) {

    .nav__bar {
        flex-direction: row-reverse;
        position: relative;
    }

    .menu__container {
        transform: translateX(-26rem);
        transition: all 0.4s;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 25rem;
        height: 30rem;
        background-color: var(--color-grad-2);
        border-radius: 0.5rem;
        padding: 10rem 0;
        color: #FFFFFF;
    }

    .menu__container._open {
        display: block;
        transform: translateX(0);
    }

    .menu__container * {
        margin: 1rem 1rem;
    }

    .menu__container *>* {
        color: #FFFFFF;
    }

    .burger__btn_container {
        display: block;

    }


    .burger__btn._open span {}

    .burger__btn._open span:nth-child(1) {
        transform: translateY(1.3rem) rotate(45deg);
    }

    .burger__btn._open span:nth-child(2) {
        display: none;
    }

    .burger__btn._open span:nth-child(3) {
        transform: translateY(1.3rem) rotate(-45deg);
    }

}

@media(max-width: 850px) {
    .logo__container {
        display: none;
    }
}


@media(max-width: 696px) {

    .search__btn {
        display: none;

    }

    .search__bar {
        width: 100%;

    }

    .nav__bar {
        padding: 2rem 1rem;
    }
}


/* ------------------------- Main section ------------------------- */
.main__section {
    display: grid;
    grid-template: auto / 0.3fr 0.7fr;
    height: 100%;
    flex: 1 0 auto;
}

/* List recipe preview -------------------------- */


.recipe__list_container {
    grid-column: 1 / span 1;
    background-color: #FFFFFF;

}

.recipe__list_flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
}

.recipe__preview_container {
    flex: 1 1 auto;
    overflow: hidden;
}

.recipe__list_element {
    display: grid;
    grid-template: 1fr 1fr / 6rem 1fr;
    align-items: center;
    column-gap: 2rem;
    text-transform: uppercase;
    padding: 2rem 3rem;
    transition: all 0.3s;
}

.recipe__list_element:hover {
    background-color: var(--beige-light);
    transform: translate(-0.5rem, -0.5rem);
}

.preview__img_container {
    grid-row: 1/ span 2;
    grid-column: 1 / span 1;
    width: 6rem;
    height: 6rem;

}

.preview__img_container img {
    border-radius: 50%;
}

.preview__title {
    grid-row: 1/ span 1;
    grid-column: 2 / span 2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.6rem;
    color: var(--color-grad-2);



}

.preview__subtitle {
    grid-row: 2/ span 1;
    grid-column: 2 / span 2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.2rem;

}

.recipe__list_pagination {}

.pagination__btn_container {
    display: flex;
    margin: 6rem 3rem;
    position: relative;
}

.pagination__btn {
    position: absolute;
    padding: 0.5rem 1rem;
    background-color: var(--beige-light);
    border-radius: 1.5rem;
    color: var(--color-grad-2);
    font-weight: 700;
    transition: all 0.3s;
}

@media(max-width: 900px) {
    .pagination__btn {
        padding: 0.3rem 0.5rem;

    }
}

.pagination__btn:hover {
    background-color: var(--beige-darker-main);

}

.pagination__btn--left {
    left: 0;

}

.pagination__btn--right {
    right: 0;


}



.pagination__btn_text {}

.pagination__arrow {
    margin: 0 0.3rem;
    font-size: 2rem;
}


@media(max-width: 900px) {
    .pagination__btn_text {
        font-size: 1.3rem;
    }

    .pagination__arrow {
        margin: 0 0.1rem;
        font-size: 1rem;
    }
}

.pagination__btn--right {}

.recipe__list_footer_container {
    margin: 0 3rem;
}

.list__footer_text {
    color: #999695;
}


/* Main recipe view -------------------------- */
.recipe__display_container {
    grid-column: 2 / span 1;

}

.main__message_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
    font-size: 1.6rem;
    max-width: 35rem;

}

.hidden {
    display: none;
}

.main__message_container span {
    letter-spacing: 0.1px;
    line-height: 2.2rem;
}

.main__message_icon {
    margin: 0 1.5rem;
    font-size: 3rem;
    color: var(--color-grad-2);
}

.fa-face-smile {}

.main__message_text {}

/* Recipe view ---------*/

.main__recipe_view_container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 0.35fr 0.15fr 0.4fr 0.15fr/ 1fr;
}

.recipe__view_img_container {
    position: relative;
}

.recipe__view_img_container img {
    filter: opacity(0.6) drop-shadow(0 0 var(--color-grad-2));
}

.recipe__title_container {
    display: none;
    position: absolute;
    bottom: -7rem;
    max-width: 40%;
    left: 50%;
    transform: rotate(8deg) translateX(-50%);
}


.recipe__title {
    z-index: 2;
    font-weight: 700;
    font-size: 3.25rem;
    color: #FFFFFF;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1.3rem 2rem;
    background-image: linear-gradient(to right bottom,
            var(--color-grad-1),
            var(--color-grad-2));
    line-height: 1.95;
    text-align: center;

}

@media(max-width: 1200px) {
    .recipe__title_container {
        max-width: 80%;
        bottom: -5rem;

    }

    .recipe__title_container span {
        font-size: 2.2rem;
        line-height: 2.1;
    }

}

.recipe__view_header {
    margin: 0 10rem;
    display: grid;
    grid-template: 1fr/ 1.5fr 1.2fr 0.7fr 2fr;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

@media(max-width: 1000px) {
    .recipe__view_header {
        margin: 0 3rem;

        grid-template: 1fr/ 1.5fr 1.4fr 0.7fr 1.5fr;

    }
}

.recipe__view_header i {
    color: var(--color-grad-2);
    font-size: 2rem;

}

.recipe__view_header span {
    margin: 0 0 0 0.5rem;

}


/* .recipe__view_header>*:not(:last-child) {
    margin: 0 5rem;
} */

.timer__container {
    font-size: 1.4rem;

}

.fa-clock {}

.receipt__time {}

.receipt__timer_value {
    font-weight: 700;
}

.servings__container {}

.fa-user-group {}

.receipt__servings {}

.receipt__servings_value {
    font-weight: 700;
}

.modifying__servings_container {}

.fa-circle-plus {
    transition: all 0.2s;
}

.fa-circle-plus:hover {
    transform: scale(1.2);
}

.fa-circle-minus {
    transition: all 0.2s;
}

.fa-circle-minus:hover {
    transform: scale(1.2);
}


.bookmark__icon_container {
    text-align: end;
}

.bookmark__icon_background {
    display: inline-block;
    padding: 1.3rem 1rem;
    border-radius: 50%;
    background-image: linear-gradient(to right bottom,
            var(--color-grad-1),
            var(--color-grad-2));
    transition: all 0.3s;
}


.bookmark__icon_background:hover {
    transform: scale(1.1);
}

.bookmark__icon_container i {
    color: #FFFFFF;
}


/* Recipe view body ---------- */

.recipe__view_body {
    background-color: #F2EFEE;
    padding: 5rem 0;
}

.recipe__body_title {
    margin: 0 0 4rem;
}


.recipe__ingredients_title {
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 1.9;
    font-weight: 700;
    color: var(--color-grad-2);
    text-align: center;
    letter-spacing: 0.2;
}

.receipt__items {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-auto-flow: row;
    column-gap: 6rem;
    row-gap: 3rem;
    margin: 0 13rem;
    line-height: 1.5;

}

@media(max-width: 1000px) {
    .receipt__items {
        margin: 0 6rem;
    }
}

.receipt__items li {
    position: relative;
}

.receipt__items li:before {
    content: '\2713';
    display: block;
    position: absolute;
    top: 0;
    left: -3rem;
    width: 3rem;
    height: 3rem;
}

@media(max-width: 696px) {
    .main__section {
        grid-template: auto / 1fr;

    }

    .recipe__list_container {
        display: none;
    }

    .recipe__list_container._open {
        display: block;
    }

    .recipe__display_container {
        display: none;
    }

    .recipe__display_container._open {
        display: block;
    }
}

/* Recipe view Footer ------------- */
.recipe__view_footer {}

.recipe__footer_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5rem 5rem 0 5rem;
    line-height: 1.5;
    letter-spacing: 0.2;
    font-size: 1.5rem;
}

.recipe__footer_container>*:not(:last-child) {
    margin: 0 0 4rem 0;
}

.recipe__footer_title {
    flex: 1 1 33.33%;
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--color-grad-2);

}

.recipe__footer_subtitle {
    flex: 1 1 33.33%;
}

.recipe__footer_btn_container {
    flex: 1 1 33.33%;
}

.recipe__footer_btn {
    color: #FFFFFF;
    padding: 1.5rem 3rem;
    background-image: linear-gradient(to right bottom, var(--color-grad-1), var(--color-grad-2));
    border-radius: 3rem;


}





.footer__btn_text {
    color: var(--beige-light);

    text-transform: uppercase;
    font-size: 1.5rem;

}

.footer__btn_icon {
    font-size: 1.8rem;
    margin: 0 0 0 0.5rem;
}

/* ---------------- Footer Section --------------- */

.footer__section {}